.titleofpage{
  font-family: 'Lora', serif;
  font-size: 17pt;
  color:darkslategray;
  padding-top: 30px;
  top: 0;
  left: 0;
  width: 15%;
  display: flex;
  position: fixed;
  top: 0;
  justify-content:center;
  list-style-type:none;
  background-color:none;
}

.nav {
  font-family: 'Lora', serif;
  color:darkslategray;
  font-size: 14pt;
  background-color: none;
  display: list-item;
  position: relative;
  justify-content: flex-start;
  list-style-type: none;
  margin: 0;
  top:50px;
  padding: 50px;
  width: 10%;
  height: 100%; /* Full height */
  position: fixed; /* Make it stick, even on scroll */
  overflow: auto; /* Enable scrolling if the sidenav has too much content */
}

.bio {
  justify-content: left;
  font-family: 'Lora', serif;
  color: darkslategray;
  font-size: 11pt;
  display: grid;
  max-width: 90vw;
  padding-top: 10vh;
  padding-left:16vw;
}

.exh {
  justify-content: left;
  font-family: 'Lora', serif;
  color: darkslategray;
  font-size: 11pt;
  display: inherit;
  max-width: 90vw;
  padding-top: 10vh;
  padding-left:16vw;
}


.exhtext {
  justify-content: center;
  font-family: 'Lora', serif;
  color: darkslategray;
  font-size: 11pt;
  display: grid;
  max-width: 90vw;
  padding-top: 10vh;
  padding-left:10vw; 
}

.container {
  display: grid;
  grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto;
  padding-left:10vw;
}

.container > div {
  padding-bottom: 10px;
  text-align: center;
  max-height:auto;
  width:auto;
}

.dropbtn {
  font-family: 'Lora', serif;
  font-size: 14pt;
  color:darkslategray;
  border:none;
  background-color: #d0e0e3;
  cursor: ;
  caret-color: #d0e0e3;
  outline-style: dotted;
  outline-color: darkslategray;
  outline-width: thin;
}

.dropdown {
  position: static;
  display: inline-block;

}

.dropdown-content {
  display: none;
  position: inherit;
  right: 0px;
  width:100%;
  background-color: transparent;
  min-width: 160px;
  padding: 0px 0px;
  padding-left:10px;
  z-index: 0;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.body {
    font-family: 'Lora', serif;
    color: darkslategray;
    font-size: 10pt;
    display: flex;
    position: inherit;
    bottom: 0;
    padding-top: 90px;
    text-align: justify;
    display: inline;
    grid-column: 2/5;
    min-height: 100vh;
}


a {
  display:inline;
  outline-style: dotted;
  outline-color: darkslategray;
  outline-width: thin;
}

a:link {
  display:inline;
  color:darkslategray;
  text-decoration: none;
  outline-style: dotted;
  outline-color: darkslategray;
  outline-width: thin;

}
a:visited {
  display:inline;
  color:darkslategray;
  text-decoration: none;
  background-color: none;
}

a:hover {
  display:inline;
  color:darkslategray;
  text-decoration: none;
  font-style:italic;
  background-color: slategray;
}

.hover-title {
    display: inline;
    pointer-events: auto;
    cursor: pointer;
}

/* Links inside the dropup */
.dropup-content a {
 color: inherit;
 padding: 6px 6px;
 text-decoration: none;
 display: block;
}

/* Show the dropup menu on hover */
.dropup:hover .dropup-content {
 display: block;
}

 /* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: none;
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  display: block;
  text-align:center;
  font-size: 16pt;
}

/* Style the hamburger menu */
.topnav a.icon {
  color:darkslategray;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

@media screen and (min-width: 480px) {
  .topnav{
        display:none;
    }
}

/* Style the active link (or home/logo) */
.active {
  background-color: none;
  color: white;
} 


@media screen and (max-width: 480px) {
    .nav{
        display: none;
    }
    .titleofpage{
        display:none;
    }
    a {
    outline-style: none;
  }
  a:link{
    outline-style: none;
  }
  a:visited{
    outline-style: none;
  }
  .bio{
    padding-left:2vw;
    padding-top:2vh;
  }
}



