/*Fonts*/
  @font-face {
    font-family: 'UncutSans-Regular'; /* Choose a name for your font */
    src: url('../fonts/UncutSans-Regular.woff2') format('woff2');
    font-weight: normal; /* Specify font weight if applicable */
    font-style: normal;  /* Specify font style if applicable */
    /* You can also add other descriptors like font-display */
  }  
/*PageTitle*/
  .titleofpage{
    font-family: 'UncutSans-Regular';
    font-size: 13pt;
    color:darkslategray;
    position: fixed;
    top:3vh;
    left:2vw;
    display: grid;
  }
  @media screen and (max-width: 1024px) {
    .titleofpage{
      top:1vh;
     }
  }
/*DesktopSidebar*/
  .desknav {
    background-color: none;
    display: list-item;
    text-align: left;
    justify-content: flex-start;
    list-style-type: none;
    margin: 0;
    top:14vh;
    left:2vw;
    padding: 0px;
    width: 9%; 
    height: 100%;
    position: fixed; 
    overflow: auto;
    font-family:'UncutSans-Regular';
  }
  @media screen and (max-width: 1024px) {
    .desknav{
      visibility:hidden;
    }
  }

  .dropbtn {
    font-family: 'UncutSans-Regular', serif;
    font-size: 11pt;
    color:darkslategray;
    background-color: transparent;
    border:hidden;
    padding-bottom:3px;
  }

  .dropdown {
    position: static;
    display: inline-block;
  }

  .dropdown-content {
    font-size:12pt;
    display: none;
    position: inherit;
    padding-left:10px;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }
  /*not in use
  .sidebar {
    height: 100%;
    width:0;
    position: fixed;
    z-index: 1;
    top: 16vh;
    left: 2vw;
    background-color: transparent;
    overflow-x: hidden;
    transition: 0.5s;
    flex-shrink: 0;
  }

  .sidebar a {
    padding-left: 1vw;
    text-decoration: none;
    font-size: 100%;
    color: darkslategray;;
    display: block;
    transition: 0.3s;
  }

  .sidebar a:hover {
    color: darkslategray;
  }

  .openbtn {
    position:fixed;
    top:10vh;
    left: 2vw;
    font-size: 14px;
    cursor: pointer;
    border: none;
    z-index:1;
    font-family:Lora;
  }

  .openbtn:hover {
    background-color: #d0e0e3;
  }

  #main {
    transition: margin-left .5s;
    padding: 0px;
  }

  #mySidebar.open{
    width:13vw;
  }

  #main.open{
    margin-left:13vw;
  }
  */
/*MobileMenu*/
  .nav {
      position:fixed;
      top:0;
      right:0;
      color:black;
  }

  /* Hide the checkbox */
  #menu-toggle {
    display: none;
  }

  /* Hamburger icon */
  .menu-btn {
    display: flex;
    cursor: pointer;
    color:black;
    user-select: none;
  }

  .menu-btn span {
    display: block;
    position:fixed;
    font-family:UncutSans-Regular,sans-serif;
    font-size:13pt;
    background-color: #d0e0e3;
    top:1vh;
    right:2vw;
    width: auto;
    transition: 0.5s;
  }

  /* Menu items container */
  .menu {
    max-height: 0;
    overflow: hidden;
    background-color: none;
    transition: max-height .5s ease;
    font-family: UncutSans-Regular;
    font-size:9pt;
    display: grid;
    grid-template-columns: 1fr 0.95fr 0.95fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap:3px;
    padding-top:0vh;
  }

  /* Menu items */
  .menu a {
    display: inline-block;
    font-family: UncutSans-Regular;
    font-size:8pt;  
  }

  /* When checkbox is checked, show menu */
  #menu-toggle:checked + .menu-btn + .menu {
    max-height: 30vh; /* large enough to show all items */
  }  

  @media screen and (min-width: 1025px){
    .menu{
      visibility:hidden;
    }
    .menu-btn{
      visibility:hidden;
    }
  }
/*MenuMediaQueries*/
  @media screen and (max-width: 1024px) {
    .openbtn {
      visibility:hidden;
    }
    .sidebar {
      visibility:hidden;
    }
    #menu-toggle {
      display: none;
    }
    .main-content {
      margin-top: 60px; /* Initial height of the header */
      transition: margin-top 0.3s ease-in-out; /* Animation */
    }
    .menu-open .main-content {
      margin-top: 260px; /* New margin when menu is open */
    }
  }
/*ImageGrid*/
  .galleryspacer{
    padding-left:15vw;
    padding-top:2vh;
  }

  .galcontainer{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 14vw;
    gap:10px;
  }

  .galcontainer img{
    display: block;
    width: 100%;
    height: auto;      /* keep natural proportions */
    object-fit: cover;
  }

  .workspacer{
    grid-column: span 7;
    max-width:100vw;
    width: 100%;
    padding-bottom: 15px;
    border-bottom: 1px ridge black;
  }

  .gridspacer{
    grid-column: span 7;
    max-width:100vw;
    width: 100%;
    padding-bottom: 10px;
    /*border-top: 1px ridge black;*/
  }

  .spacerone{
    grid-column: span 1;
    max-width:30vw;
    width: 100%;
    padding-bottom: 30px;
    /*border-top: 1px ridge black;*/
  }

  .spacertwo{
    grid-column: span 2;
    max-width:100vw;
    width: 100%;
    padding-bottom: 30px;
    /*border-top: 1px ridge black;*/
  }

  .spanone{
    grid-column: span 1;
  }

  .spantwo{
    grid-column: span 2;
  }

  .spanthree{
    grid-column: span 3;
    max-width:100vw;
    width: 100%;
    height: auto;
    object-fit: cover;
    justify-self: end;
  }

  .spanfour{
    grid-column: span 4;
  }

   .spanfive{
    grid-column: span 5;
  }

   .spansix{
    grid-column: span 6;
  }

  .portrait{
    grid-column: span 3;
    max-width:50vw;
    height: auto;    
    overflow:hidden;
    justify-self: end;
  }

  .portrait img{
    height: 100%;
    width:auto;
  }

  .xtall{
    grid-column: span 2; /* span across both portrait columns */
    max-width:40vw;
    width: 100%;
    height: auto;
    object-fit: cover;
    justify-self: end;
  }

  .tall{
    grid-column: span 2; /* span across both portrait columns */
    max-width:38vw;
    width: 100%;
    height: auto;
    object-fit: cover;
    justify-self: end;
  }

  .squaretall{
    grid-column: span 2; /* span across both portrait columns */
    max-width:45vw;
    width: 100%;
    height: auto;
    object-fit: cover;
    justify-self: end;
  }

  .square{
    grid-column: span 4; /* span across both portrait columns */
    max-width:50vw;
    width: 100%;
    height: auto;
    object-fit: cover;
    justify-self: end;
  }

  .rect{
    grid-column: span 3; /* span across both portrait columns */
    max-width: 66vw;
    width: 100%;
    height: auto;
    object-fit: cover;
    justify-self: end;
  }

  .imgtext {
    align-self: flex-end;
    font-family:'UncutSans-Regular';
    font-size:9pt;
    object-fit: cover;
  }

  .narrowdesc{
    grid-column: span 1;
    align-self: flex-end;
    font-family:'UncutSans-Regular';
    font-size:10pt;
    object-fit: cover;
    padding-right:1vw;
    text-align: justify;
  }

  .workdesc {
    grid-column: span 2;
    align-self: flex-end;
    font-family:'UncutSans-Regular';
    font-size:10pt;
    object-fit: cover;
    padding-right:1vw;
    text-align: justify;
  }


  .photocredit {
    padding-left:14vw;
    padding-top:1vh;
  }

  @media screen and (max-width: 1024px) {
    .imgtext{ /*make text invis*/
      display:none;
    }
    .galleryspacer{
      padding-left:0vw;
    }

    .galcontainer{ /*third column (text) of each row hidden*/
      padding-top:4vh;
      max-width:100vw;
      gap:5px;
      grid-template-columns: 1fr 1fr;
      overflow-x:hidden;
    }
    .xtall{
      max-width:100vw;
    }
    .tall{
      max-width:100vw;
    }
    .squaretall{
      max-width:100vw;
    } 
    .square{
      max-width:100vw;
    }
    .rect{
      max-width:100vw;
    }

  }
/*Modal*/
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 0px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: white;
  }

  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: transparent;
    margin: auto;
    width: auto;
    max-width: 95%;
  }
  .mySlides {
    display: none;
  }

  #modalcount {
    position:fixed; 
    content-align: center; 
    bottom:2vh;
    left:2vw;
  }

    /* The dots/bullets/indicators */
  .dot {
    cursor: cell;
    height: 5px;
    width: 6px;
    margin: 0 5px;
    background-color: darkslategray;
    border-radius: 45%;
    display: inline-block;
    transition: #717171 0.4s ease;
    opacity: 35%;
    padding-bottom: 2px;
  }

  .active, .dot:hover {
    background-color: black;
  }

  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: relative;
    height: 10px;
    width: 5px;
    padding: 3px;
    color: darkslategray;
    font-size: 8px;
    transition: .1s ease;
    background-color: transparent;
    user-select: none;
    opacity:60%;
  }

  /* Position the "next button" to the right */
  .next {
    right: 0;
  }

  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }

  /* Caption text */
  .text {
    color: darkslategray;
    font-size: 13px;  
    position: absolute;
    bottom:0;
    right:0;
    width: 100%;
    text-align: left;
    font-family:'UncutSans-Regular';
  }

  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  .slideshow-container {
    text-align: center;
    position: static;
    padding-top:10px;
    height:auto;
  }

  .mySlides {
   height:94vh;
   cursor: url('data:image/png;base64,R0lGODlhFgAWAIAAAGmOjjAwNiH/C05FVFNDQVBFMi4wAwEAAAAh+QQEAAAAACwAAAAAFgAWAAACHYyPqcvtD6OctNoLrgEZc8aF4thRoaeV2sq27tsWADs='), auto;
  }

  .mySlides img{
    max-height:97vh; 
    max-width:100%;
  }

  .hover-title {
      display: inline;
      pointer-events: auto;
      cursor: pointer;
  }

  /* The Close Button */
  .close {
    color: darkslategray;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }

  @media screen and (max-width: 1024px) {
    .image-gallery{
      display:none;
      padding-left:0vw;
      padding-right:0vw;
      padding-bottom:0vh;
      padding-top:0vh;
      overflow:hidden;
    }
    .mySlides{
      width:95vw;
      padding-left:0vw;
      padding-right:0vw;
      padding-top:0vh;
      align-content: center;
    }
    .close{
      position:absolute;
      left:3vw;
      top:0vh;
      z-index:2;
      opacity:50%;
    }
    .text {
      color: darkslategray;
      font-size: 10px;  
      position: absolute;
      bottom:3vh;
      width: 100%;
      text-align: center;
    }

    #modalcount{
      size:50%;
      margin: 0 auto;
        transform: scale(.75);
      position: static; /* removes absolute positioning */
      margin: 0 auto;   /* centers the block horizontally */
      bottom:0vh;
    }
    .prev, .next {
      cursor: pointer;
      position: relative;
      height: 3px;
      width: 3px;
      padding: 2px;
      color: darkslategray;
      font-weight: bold;
      font-size: 10px;
      transition: .1s ease;
      background-color: transparent;
      user-select: none;
      opacity:60%;
    }
  }
/*LinksandListStyling*/
  ul{
    position: block;
  }

  li{
    list-style-type: none;
    align-content: center;
    font-size: 14pt;
  }

  a {
  }

  a:link {
    color:darkslategray;
    text-decoration: none;
  }

  a:visited {
    color:darkslategray;
    text-decoration: none;
    background-color: none;
  }

  a:hover {
    color:darkslategray;
    text-decoration: none;
    font-style:italic;
    background-color: #d0e0e3;;
  }
/*BioPage*/
  .bio {
    justify-content: left;
    font-family: 'Lora', serif;
    color: darkslategray;
    font-size: 11pt;
    display: grid;
    max-width: 90vw;
    padding-top: 10vh;
    padding-left:16vw;
  }
  /* 
  }*/
/*ExhibitionsPage*/
  .exh {
    justify-content: left;
    position: relative;
    top:6vh;
    left:13vw;
    padding-bottom:5vh;
    font-family: 'Lora', serif;
    color: darkslategray;
    font-size: 11pt;
    width: 80%;
  }

  .exhtext {
    justify-content: center;
    font-family: 'Lora', serif;
    color: darkslategray;
    font-size: 11pt;
    display: grid;
    max-width: 90vw; 
  }

  .exhyear {
    position: absolute;
      left: -6ch;
  }


  



/*OldNavMenu*/
   /*
  .topnav {
    overflow: hidden;
    background-color: none;
    position: relative;
    color:slategray;
  }

  .topnav #myLinks {
    display: none;
  }

  .topnav a {
    display: relative;
    text-align:center;
    font-size: 12pt;
  }

  .topnav a.icon {
    color:slategray;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }*/
/*OldMobileImages
  /*.mobile-image-gallery {
  }

  .mobile-image-item{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 2vh;
    object-fit: cover;
    text-align:center;
    overflow:hidden; 
  }
  
  .image-gallery {
    display: flex;
    flex-direction: row;
    padding-top:2vh;
    padding-right:4vw;
    height:100%;
    max-width:;
  }*/
