.titleofpage{
  font-family: 'Lora', serif;
  font-size: 12pt;
  color:darkslategray;
  background-color: #d0e0e3;
  position: fixed;
  top:5vh;
  left: 2vw;
  display: flex;
}


.nav {
  background-color: none;
  display: list-item;
  text-align: left;
  justify-content: flex-start;
  list-style-type: none;
  margin: 0;
  top:10vh;
  left:3vw;
  padding: 0px;
  width: 10%; 
  height: 100%; /* Full height */
  position: fixed; /* Make it stick, even on scroll */
  overflow: auto; /* Enable scrolling if the sidenav has too much content */
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 0px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: white;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: transparent;
  margin: auto;
  padding: 0;
  padding-left: 0;
  width: auto;
  max-width: 95%;
}

.dropbtn {
  font-family: 'Lora', serif;
  font-size: 11pt;
  color:darkslategray;
  background-color: transparent;
  border:hidden;
  padding-bottom:3px;
}

.dropdown {
  position: static;
  display: inline-block;
}

.dropdown-content {
  font-size:12pt;
  display: none;
  position: inherit;
  padding-left:10px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

ul{
  position: block;
}

li{
  list-style-type: none;
  align-content: center;
  font-size: 14pt;
}

a {
}

a:link {
  color:darkslategray;
  text-decoration: none;
}

a:visited {
  color:darkslategray;
  text-decoration: none;
  background-color: none;
}

a:hover {
  color:darkslategray;
  text-decoration: none;
  font-style:italic;
  background-color: #d0e0e3;;
}

.bio {
  justify-content: left;
  font-family: 'Lora', serif;
  color: darkslategray;
  font-size: 11pt;
  display: grid;
  max-width: 90vw;
  padding-top: 10vh;
  padding-left:16vw;
}

.exh {
  position: absolute;
  top:1.5vh;
  left:22vw;
  padding-bottom:5vh;
  font-family: 'Lora', serif;
  color: darkslategray;
  font-size: 11pt;
  max-width: 90vw;
}


.exhtext {
  justify-content: center;
  font-family: 'Lora', serif;
  color: darkslategray;
  font-size: 11pt;
  display: grid;
  max-width: 90vw; 
}

.exhyear {
  position: absolute;
    left: -6ch;
}

.hover-title {
    display: inline;
    pointer-events: auto;
    cursor: pointer;
}

/* The Close Button */
.close {
  color: darkslategray;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.image-gallery {
  /* Mobile first */
  display: flex;
  flex-direction: row;
  padding-left:14vw;
  padding-top:11vh;
  padding-right:4vw;
}

.mobile-image-gallery {
  padding-top:3vh; 
}

.mobile-image-item{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-bottom: 2vh;
  object-fit: cover;
  text-align:center;
  overflow:hidden; 
}

.image-gallery .row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  overflow-x: scroll;
  padding-bottom:30px;
}

.image-item img {
  height:75vh;
  padding-right:2vw;
  object-fit: cover;
  cursor: url('data:image/png;base64,R0lGODlhFQAVAIAAAGOjoy0tNSH/C05FVFNDQVBFMi4wAwEAAAAh+QQEAAAAACwAAAAAFQAVAAACJYyPqcvtD2MClMpTwcV26y5phhiR3oZdpAlZbAuqFZq96I3nWwEAOw=='), auto;
}

.slideshow-container {
  text-align: center;
  position: static;
  padding-top:10px;
}

.mySlides {
 height:94vh;
 cursor: url('data:image/png;base64,R0lGODlhFgAWAIAAAGmOjjAwNiH/C05FVFNDQVBFMi4wAwEAAAAh+QQEAAAAACwAAAAAFgAWAAACHYyPqcvtD6OctNoLrgEZc8aF4thRoaeV2sq27tsWADs='), auto;
}

@media screen and (max-width: 920px) {
  .row{
    height:80vh;
  }
  .image-gallery{
    display:none;
    padding-left:0vw;
    padding-right:0vw;
    padding-bottom:0vh;
    padding-top:0vh;
    overflow:hidden;
  }
  .mySlides{
    width:95vw;
    padding-left:0vw;
    padding-right:0vw;
    padding-top:0vh;
    align-content: center;
  }
  .close{
    position:absolute;
    left:3vw;
    top:2vh;
  }
  a {
    outline-style: none;
  }
  a:link{
    outline-style: none;
  }
  a:visited{
    outline-style: none;
  }
  .nav{
    display: none;
  } 
 .titleofpage{
    display:none;
  }
}

@media screen and (min-width: 921px) {
  .topnav{
        display:none;
    }
   .mobile-image-gallery{
        display:none;
   } 
}

/* The dots/bullets/indicators */
.dot {
  cursor: cell;
  height: 5px;
  width: 5px;
  margin: 0 7px;
  background-color: darkslategray;
  border-radius: 45%;
  display: inline-block;
  transition: #717171 0.4s ease;
  opacity: 50%;
  padding-bottom: 2px;
}

.active, .dot:hover {
  background-color: black;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: relative;
  height: 10px;
  width: 5px;
  padding: 3px;
  color: darkslategray;
  font-weight: bold;
  font-size: 10px;
  transition: .1s ease;
  background-color: transparent;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: darkslategray;
  font-size: 13px;
  padding-top: 15px;
  position: relative;
  width: 100%;
  text-align: center;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

 /* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: none;
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  display: relative;
  text-align:center;
  font-size: 16pt;
}

/* Style the hamburger menu */
.topnav a.icon {
  color:darkslategray;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Style the active link (or home/logo) */
.active {
  background-color: transparent;
  color: white;
} 

.photocredit {
  padding-left:14vw;
  padding-top:1vh;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  cursor: pointer;
  width: inherit;
  color:darkslategray;
  background-color: white;
  border: none;
  text-align: left;
  left:-4vw;
  outline: none;
  font-size: 15px;
  font-family: Lora;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #d0e0e3;
  color:slategray;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  width: 50vw;
  overflow: hidden;
}


