/*Fonts*/
  @font-face {
    font-family: 'UncutSans-Regular'; /* Choose a name for your font */
    src: url('../fonts/UncutSans-Regular.woff2') format('woff2');
    font-weight: normal; /* Specify font weight if applicable */
    font-style: normal;  /* Specify font style if applicable */
    /* You can also add other descriptors like font-display */
  }  
/*PageTitle*/
  .titleofpage{
    font-family: 'UncutSans-Regular';
    font-size: 13pt;
    color:darkslategray;
    position: fixed;
    top:3vh;
    left:2vw;
    display: grid;
  }

  @media screen and (max-width: 1024px) {
    .titleofpage{
      top:1vh;
      background-color: #d0e0e3;
     }
  }
/*Homepage*/
  .mainimage{
    padding-top:0vh;
  }

  @media screen and (max-width:1024px){
    .mainimage{
      margin-top:20vh;
      position:fixed;
    }
  }
/*DesktopSidebar*/
  .desknav {
    background-color: none;
    display: list-item;
    text-align: left;
    justify-content: flex-start;
    list-style-type: none;
    margin: 0;
    top:14vh;
    left:2vw;
    padding: 0px;
    width: 9%; 
    height: 100%;
    position: fixed; 
    overflow: auto;
    font-family:'UncutSans-Regular';
    font-size:12px;
  }

  .dropbtn {
    font-family: 'UncutSans-Regular', serif;
    font-size: 11pt;
    color:darkslategray;
    background-color: transparent;
    border:hidden;
    padding-bottom:3px;
  }

  .dropdown {
    position: static;
    display: inline-block;
    tabindex:"0";
  }

  .dropdown-content {
    font-size:12pt;
    display: none;
    position: inherit;
    padding-left:10px;
    tabindex:"0";
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  /*hide for smaller screens*/
  @media screen and (max-width: 1024px) {
    .desknav{
      visibility:hidden;
    }
  }
/*MobileMenu*/
  .nav {
      position:fixed;
      top:0;
      right:0;
      color:black;
  }

  /* Hide the checkbox */
  #menu-toggle {
    display: none;
  }

  /* Hamburger icon */
  .menu-btn {
    display: flex;
    cursor: pointer;
    color:black;
    user-select: none;
  }

  .menu-btn span {
    display: block;
    position:fixed;
    font-family:UncutSans-Regular,sans-serif;
    font-size:13pt;
    background-color: #d0e0e3;
    top:1vh;
    right:2vw;
    width: auto;
    transition: 0.5s;
  }

  /* Menu items container */
  .menu {
    max-height: 0;
    overflow: hidden;
    background-color: none;
    transition: max-height .5s ease;
    font-family: UncutSans-Regular;
    font-size:11pt;
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap:3px;
    padding-top:0vh;
  }

  .menuyear {
    font-size:10pt;
  }

  /* Menu items */
  .menu a {
    display: inline-block;
    font-family: UncutSans-Regular;
    font-size:10pt;  
  }

  /* When checkbox is checked, show menu */
  #menu-toggle:checked + .menu-btn + .menu {
    max-height: 30vh; /* large enough to show all items */
  }  

  @media screen and (min-width: 1025px){
    .menu{
      visibility:hidden;
    }
    .menu-btn{
      visibility:hidden;
    }
  }
/*WorkIndex*/
  .indexcontainer{
    font-family: UncutSans-Regular;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 75vw;
    padding-left:0vw;
    padding-top:2vh;
    padding-bottom:2vh;
    overflow-x:hidden;
    gap:5px;
  }

  .indexcontainer img{
    width: auto;
    height: 100%;      /* keep natural proportions */
    max-height:15vh;
    object-fit: cover;
  }

  .indexspacer{
    width: 100%;
  }

  .ulspacer{
    grid-column: span 10;
    max-width:100vw;
    width: 100%;
    padding-bottom: 15px;
    border-bottom: 1px ridge black;
  }

  @media screen and (max-width:1024px){
    .indexcontainer{
      width: 96vw;
      padding-left:1vw;
      padding-top:5vh;
      padding-bottom:1vh;
    }
    .indexcontainer img{
      width: auto;
      height: 100%;      /* keep natural proportions */
      max-height:9vh;
      object-fit: cover;
    }
  }
/*ImageGrid*/
  .galleryspacer{
    padding-left:15vw;
    padding-top:2vh;
  }

  .galcontainer{
    display:grid;
    grid-template-columns: 1fr 1fr 16vw;
    gap:10px;
  }

  .galcontainer img{
    display: block;
    object-fit: contain;
    pointer-events: auto;
    overflow:hidden;
    cursor: url('data:image/png;base64,R0lGODlhFQAVAIAAAGOjoy0tNSH/C05FVFNDQVBFMi4wAwEAAAAh+QQEAAAAACwAAAAAFQAVAAACJYyPqcvtD2MClMpTwcV26y5phhiR3oZdpAlZbAuqFZq96I3nWwEAOw=='),auto;
  }

  .portrait{
    max-width:33vw;
    position:relative;
    max-height: 94vh;
    justify-self: flex-end;
  }

  .tall{
    max-width:34vw;
    position:relative;
    max-height: 94vh;
    justify-self: flex-end;
  }

  .wideimg1{
    grid-column: span 2; /* span across both portrait columns */
    width: auto;
    max-width:70vw;
    max-height: 96vh;
    position:relative;
    justify-self: flex-end;
  }

  .wideimg{
    grid-column: span 2; /* span across both portrait columns */
    width: auto;
    max-width:70vw;
    max-height: 97vh;
    position:relative;
    justify-self: flex-end;
  }

  .imgtext {
    align-self: flex-end;
    font-family:'UncutSans-Regular';
    font-size:9pt;
    object-fit: cover;
  }

  .photocredit {
    padding-left:14vw;
    padding-top:1vh;
  }

  @media screen and (max-width: 1024px) {
    .imgtext{ /*make text invis*/
      display:none;
    }
    .galleryspacer{
      padding-left:0vw;
    }

    .galcontainer{ /*third column (text) of each row hidden*/
      padding-top:4vh;
      max-width:100vw;
      gap:5px;
      grid-template-columns: 1fr 1fr;
      overflow-x:hidden;
    }

    .wideimg{
      max-width:100vw;
    }

    .wideimg1{
      max-width:100vw;
    } 

    .portrait{
      max-width:100vw;
    }

    .tall{
      max-width:100vw;
    }  
  }
/*Modal*/
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 0px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: white;
  }

  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: transparent;
    margin: auto;
    width: auto;
    max-width: 95%;
  }
  
  .mySlides {
    display: none;
  }

  #modalcount {
    position:fixed; 
    content-align: center; 
    bottom:2vh;
    left:2vw;
  }

    /* The dots/bullets/indicators */
  .dot {
    cursor: cell;
    height: 5px;
    width: 6px;
    margin: 0 5px;
    background-color: darkslategray;
    border-radius: 45%;
    display: inline-block;
    transition: #717171 0.4s ease;
    opacity: 35%;
    padding-bottom: 2px;
  }

  .active, .dot:hover {
    background-color: black;
  }

  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: relative;
    height: 10px;
    width: 5px;
    padding: 3px;
    color: darkslategray;
    font-size: 8px;
    transition: .1s ease;
    background-color: transparent;
    user-select: none;
    opacity:60%;
  }

  /* Position the "next button" to the right */
  .next {
    right: 0;
  }

  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }

  /* Caption text */
  .text {
    color: darkslategray;
    font-size: 13px;  
    position: absolute;
    bottom:0;
    right:0;
    width: 100%;
    text-align: left;
    font-family:'UncutSans-Regular';
  }

  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  .slideshow-container {
    text-align: center;
    position: static;
    padding-top:10px;
    height:auto;
  }

  .mySlides {
   height:94vh;
  }

  .mySlides img{
    max-height:97vh; 
    max-width:100%;
    cursor: url('data:image/png;base64,R0lGODlhFgAWAIAAAGmOjjAwNiH/C05FVFNDQVBFMi4wAwEAAAAh+QQEAAAAACwAAAAAFgAWAAACHYyPqcvtD6OctNoLrgEZc8aF4thRoaeV2sq27tsWADs='), auto;
  }

  .hover-title {
      display: inline;
      pointer-events: auto;
      cursor: pointer;
  }

  /* The Close Button */
  .close {
    color: darkslategray;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
    z-index:2;
  }

  .close:hover,
  .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }

  @media screen and (max-width: 1024px) {
    .image-gallery{
      display:none;
      padding-left:0vw;
      padding-right:0vw;
      padding-bottom:0vh;
      padding-top:0vh;
      overflow:hidden;
    }
    .mySlides{
      width:95vw;
      padding-left:0vw;
      padding-right:0vw;
      padding-top:0vh;
      align-content: center;
    }
    .close{
      position:absolute;
      left:3vw;
      top:0vh;
      z-index:2;
      opacity:50%;
    }
    .text {
      color: darkslategray;
      font-size: 10px;  
      position: absolute;
      bottom:3vh;
      width: 100%;
      text-align: center;
    }

    #modalcount{
      size:50%;
      margin: 0 auto;
        transform: scale(.75);
      position: static; /* removes absolute positioning */
      margin: 0 auto;   /* centers the block horizontally */
      bottom:0vh;
    }
    .prev, .next {
      cursor: pointer;
      position: relative;
      height: 3px;
      width: 3px;
      padding: 2px;
      color: darkslategray;
      font-weight: bold;
      font-size: 10px;
      transition: .1s ease;
      background-color: transparent;
      user-select: none;
      opacity:60%;
    }
  }
/*LinksandListStyling*/
  ul{
    position: block;
  }

  li{
    list-style-type: none;
    align-content: center;
    font-size: 14pt;
  }

  a {
  }

  a:link {
    color:darkslategray;
    text-decoration: none;
  }

  a:visited {
    color:darkslategray;
    text-decoration: none;
    background-color: none;
  }

  a:hover {
    color:darkslategray;
    text-decoration: none;
    font-style:italic;
    background-color: #d0e0e3;;
  }
/*BioPage*/
  .bio {
    justify-content: left;
    font-family: 'Lora', serif;
    color: darkslategray;
    font-size: 11pt;
    display: grid;
    max-width: 90vw;
    padding-top: 10vh;
    padding-left:16vw;
  }
/*ExhibitionsPage*/
  .exh {
    justify-content: left;
    position: relative;
    top:13.25vh;
    left:18vw;
    padding-bottom:5vh;
    font-family: 'UncutSans-Regular', sans-serif;
    color: darkslategray;
    font-size: 11pt;
    width: 80%;
  }

  .exhtext {
    justify-content: center;
    font-family: 'UncutSans-Regular', sans-serif;
    color: darkslategray;
    font-size: 11pt;
    display: grid;
    max-width: 90vw; 
  }

  .exhyear {
    position: absolute;
      left: -6ch;
  }

  .exhyear img{
    max-height:97vh;
    max-width:70vw;
    padding-bottom:5px;
  }

  .instimgs {
    position: block;
    left: -6ch;
  }

  .textcat{
    position:absolute; 
    left:-4vw;
    font-size: 12pt;
  }

  .collapsible {
    cursor: pointer;
    width: inherit;
    color: darkslategray;
    background-color: white;
    border: none;
    text-align: left;
    left: -4vw;
    outline: none;
    font-size: 15px;
    font-family: 'UncutSans-Regular', sans-serif;
  }

  .content{
    display: none; /* Hides the content by default */
    overflow: hidden; /* Ensures content is hidden when collapsed */
    transition: max-height 0.3s ease-out; /* Smooth transition for expansion/collapse */
  }

  .content a{
    background-color:#ebfcff;

  }

  .content a:hover {
    background-color: #d0e0e3; /* New background color on hover */
  }

  @media screen and (max-width:1024px){
    .exh {
      justify-content: left;
      position: fixed;
      top:5vh;
      left:1vw;
      padding-bottom:0vh;
      font-family: 'UncutSans-Regular', sans-serif;
      color: darkslategray;
      font-size: 10pt;
      width: 98%;
    }

    .collapsible{
      font-size:10pt;
    }

    .content{
      text-align: justify;
    }

    .exhyear {
      position:relative;
      padding-top:0;
      left: 0ch;
    }

    .exhyear img{
      max-height:97vh;
      max-width:95vw;
      padding-bottom:5px;
    }

    .textcat{
      position:relative; 
      left:0vw;
      font-size: 11pt;
  }
