.titleofpage{
  font-family: 'Lora', serif;
  font-size: 17pt;
  color:salmon;
  padding-top: 30px;
  top: 0;
  left: 0;
  width: 15%;
  display: flex;
  position: fixed;
  top: 0;
  justify-content:flex-end;
  list-style-type:none;
  background-color: none;
}

.grid-container {
  border:none;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  padding: 8px;
}

*:not(ul):not(.titleofpage):not(.dot){
  background-color: #f5f5f5;
  cursor: crosshair;
}

/* Slideshow container */
.slideshow-container {
  text-align:center;
  position: static;
  padding-top: 23px;
  height: 110vh;
}

.mySlides {
  height:100%;
}

/* The dots/bullets/indicators */
.dot {
  cursor: cell;
  height: 6px;
  width: 6px;
  margin: 0 4px;
  background-color: salmon;
  border-radius: 50%;
  display: inline-block;
  transition: #717171 0.4s ease;
  opacity: 50%;
  padding-bottom: 2px;
}

.active, .dot:hover {
  background-color: black;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: relative;
  width: 5px;
  padding: 3px;
  color: salmon;
  font-weight: bold;
  font-size: 13px;
  transition: .1s ease;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: salmon;
  font-size: 12px;
  padding-top: 10px;
  position: relative;
  bottom: 0px;
  width: 100%;
  text-align: center;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

a {
  height: inherit;
  background-color: #e1eaea;
  color:salmon;
  text-decoration: none;
  outline-style: dotted;
  outline-color: salmon;
  outline-width: thin;
}

p {
  font-family: 'Lora', serif;
  font-size: 10pt;
  color: slategray;
}

.nav {
  font-family: 'Lora', serif;
  color: salmon;
  font-size: 12pt;
  display: flex;
  position: sticky;
  bottom: 0;
  padding: 10px;
  padding-left: 50px;
  justify-content: space-around;
  list-style-type: decimal-leading-zero;
}

a.ul:link{
  color:salmon;
  text-decoration: none;
  outline-style: dotted;
  outline-color: salmon;
  outline-width: thin;
}

a:visited {
  color:salmon;
  text-decoration: none;
  background-color: none;
}

a:hover:not(.tooltip){
  color:salmon;
  text-decoration: none;
  font-style:italic;
  background-color: slategray;
}

/* Dropup Button */
.dropbtn {
 color: inherit;
 font-family: inherit;
 font-size: inherit;
 border: inherit;
 border-bottom:solid;
 border-width: 3px;
 border-color: salmon;
}

/* The container <div> - needed to position the dropup content */
.dropup {
 position: relative;
 display: inline-block;
 color: inherit;
}

/* Dropup content (Hidden by Default) */
.dropup-content {
 display: none;
 position: absolute;
 text-align: center;
 bottom: 20px;
 min-width: 120px;
 z-index: 1;
}

/* Links inside the dropup */
.dropup-content a {
 color: inherit;
 padding: 6px 6px;
 text-decoration: none;
 display: block;
}

/* Show the dropup menu on hover */
.dropup:hover .dropup-content {
 display: block;
}
