.titleofpage{
  font-family: 'Lora', serif;
  font-size: 17pt;
  color:salmon;
  padding-top: 30px;
  top: 0;
  left: 0;
  width: 15%;
  display: flex;
  position: fixed;
  top: 0;
  justify-content:flex-end;
  list-style-type:none;
  background-color: none;
}

.bio {
  font-family: 'Lora', serif;
  color: salmon;
  font-size: 10pt;
  text-align: justify;
  display: grid;
  grid-column: 2/4;
  min-height: 100vh;
  padding-top:20vh;
}

.grid-container {
  border:none;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  padding: 8px;
  padding-bottom: 120px;
}

*:not(ul):not(.titleofpage){
  background-color: #f5f5f5;
  cursor: crosshair;
}

.nav {
  font-family: 'Lora', serif;
  color: salmon;
  font-size: 12pt;
  display: flex;
  position: sticky;
  bottom: 0;
  padding: 10px;
  padding-left: 50px;
  justify-content: space-around;
  list-style-type: decimal-leading-zero;
}

.body {
    font-family: 'Lora', serif;
    color: salmon;
    font-size: 10pt;
    display: flex;
    position: inherit;
    bottom: 0;
    padding-top: 90px;
    text-align: justify;
    display: grid;
    grid-column: 2/5;
    min-height: 100vh;
}

.pic {
    display: flex;
    position: inherit;
    justify-content: auto;
    display: grid;
  }
}

a {
  outline-style: dotted;
  outline-color: salmon;
  outline-width: thin;
}

a:link {
  color:salmon;
  text-decoration: none;
  outline-style: dotted;
  outline-color: salmon;
  outline-width: thin;

}
a:visited {
  color:salmon;
  text-decoration: none;
  background-color: none;
}
a:hover {
  color:salmon;
  text-decoration: none;
  font-style:italic;
  background-color: slategray;
}



.item1 {
  display: grid;
  grid-column: 3/7;
  padding: 10px;
}

.item2 {
  display: grid;
  grid-column: 4/7;
  padding: 10px;
}

.item3 {
  display: grid;
  grid-column: 2/5;
  padding: 10px;
}

.item4 {
  display: grid;
  grid-column: 2/5;
  padding: 10px;
}

.hover-title {
    display: inline;
    pointer-events: auto;
    cursor: pointer;
}

/* Dropup Button */
.dropbtn {
 color: inherit;
 font-family: inherit;
 font-size: inherit;
 border: inherit;
 border-bottom:solid;
 border-width: 3px;
 border-color: salmon;
}


/* The container <div> - needed to position the dropup content */
.dropup {
 position: relative;
 display: inline-block;
 color: inherit;
}

/* Dropup content (Hidden by Default) */
.dropup-content {
 display: none;
 position: absolute;
 text-align: center;
 bottom: 20px;
 min-width: 120px;
 z-index: 1;
}

/* Links inside the dropup */
.dropup-content a {
 color: inherit;
 padding: 6px 6px;
 text-decoration: none;
 display: block;
}

/* Show the dropup menu on hover */
.dropup:hover .dropup-content {
 display: block;
}
